<mat-toolbar class="header">
    <div>
        <a routerLink="/">
            <img class="logo" src="assets/img/PP.png" alt="logo">
        </a>
    </div>
    
    <div class="title-group">
        <a routerLink="{{ routeUrl }}">
            <i class="material-icons">
                {{ icon }}
            </i>
            {{ title }}
        </a>
    </div>    

    <div class="icon">
        <div>
            <a routerLink="cart">
                <i class="material-icons icon">
                    shopping_cart
                </i>
            </a>
        </div>

        <div>
            <a routerLink="user">
                <i class="material-icons">
                    person
                </i>
            </a>
        </div>
    </div>
        
</mat-toolbar>
