<h1>Livros</h1>
<div class="mt-4 livroContainer">
    <div class="row">
        <div *ngFor="let product of products" class="col-md-4 mb-4">
            <div class="card livro">
                <img class="imgContainer" src="assets/img/HP1.jpg" class="card-img-top" alt="Product Image">
                <div class="card-body info">
                    <h3 class="nameLivro">{{ product.name }}</h3>
                    <p class="nameAutor">{{ product.author }} <span>(Autor)</span></p>
                    <span class="preco">Preço: ${{ product.price }} <!--<s class="promo">69,99</s>--></span>
                    <br>
                    <a class="comprar btn btn-primary" routerLink="/store/product/{{ product.id }}">Detalhes</a>
                    
                    <a class="comprar btn btn-primary" (click)="buy(product)">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
