<div class="main">
  <h2>CADASTRO</h2>
 
  <form action="" class="form-login">
    <label for="nome">NOME</label>
    <input type="nome" [(ngModel)]="register.name" required placeholder="Guilherme Machado">

    <label for="email">E-mail</label>
    <input type="email" [(ngModel)]="register.email" required placeholder="exemplo@gmail.com">

    <label for="conf.email">Confirmar E-mail</label>
    <input type="email" [(ngModel)]="confEmail" required placeholder="exemplo@gmail.com">

    <label for="senha">Senha</label>
    <input type="senha" [(ngModel)]="register.senha" required placeholder="Insira sua senha">

    <label for="conf.senha">Confirmar Senha</label>
    <input type="conf.senha" [(ngModel)]="confSenha" required placeholder="Insira sua senha">

    <P class="lgpd">Ao clicar em 'Criar Conta', você concorda com nossa política de privacidade e o uso responsável de seus dados pessoais conforme a LGPD.</P>

    <button type="submit" (click)="createUser()">CRIAR CONTA</button>


  </form>
  <p>Você já tem uma conta? <a href="http://localhost:4200/user">Fazer login</a></p>

  <!-- <div class="mensagem" NgIf="existeMensagem">   <p>{{ mensagem }}</p> </div> -->
</div>