<div class="mat-elevation-z4">
    <table mat-table [dataSource]="products">
      <td>
        <div class="info-container">
            <div class="info">
                <h2>^{{ row.name }}</h2>
                <p class="autor"> {{ row.author }} <span>(Autor)</span></p>
                <p class="preco">{{ row.price }}</p>
                <br>
                <a routerLink="/store/product/{{ row.id }}" class="edit">
                    <i class="material-icons">
                        Ver mais.
                    </i>
                <!--<button class="comprar" (click)="addCart">Carrinho</button> -->
            </div>
        </div>
      </td>