*{
  text-align: center;
}

.main .form-login{
  width: 50%; /*não tenho crtz se precisa*/
  margin: 0 auto; 
}

hr {
  width: 50%;
}


label {
  font-family: 'Open Sans', sans-serif; 
}

button {
  font-family: Calibri, Arial, sans-serif;
  font-weight: bold;
  font-size: 125%;
}

p {
  font-family: Verdana, Arial, sans-serif;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 120%;
  text-decoration: none;
  color: inherit;
}

div {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

label {
  margin-top: 10px;
}

h2{
  font-size: 2em;
  font-family: "Times New Roman",Arial,sans-serif;
  font-weight: bold;
}

.mensagem {
  background-color: #4CAF50; 
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}