<div class="main">
    <h2>Fazer login</h2>
    <hr/>
    <form (ngSubmit)="login()" class="form-login">
      <label for="email">EMAIL</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="exemplo@email.com">
  
      <label for="senha">SENHA</label>
      <input type="password" id="senha" name="senha" [(ngModel)]="senha" required placeholder="Insira sua senha">
  
      <button type="submit">ENTRAR</button>
    </form>
    <p>Ainda não possui cadastro? <a href="#">Cadastre-se</a></p>

    <div class="mensagem" NgIf="existeMensagem">   <p>{{ mensagem }}</p> </div>
  </div>