<!-- <a href="#">
    <div class="livro">
        <div class="imgContainer">
            <img src="assets/img/HP.1.jpg" alt="Harry Potter: e a Pedra Filosofal">
        </div>
        <div class="info">
            <h3 class="nomeLivro">{{ product.name }}</h3>
            <small class="nomeAutor">{{ product.description }}</small>
            <br>
            <span class="preco"> R$ {{ product.price}} <s class="promo">69,99</s></span>
        </div>
    </div>
</a>

<button mat-raised-button (click)="voltar()" color="primary">
    Voltar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>

<button mat-raised-button (click)="addCart(product)">
    Adicioanr ao Carrinho
</button>

<button mat-raised-button (click)="buyProduct(product)">
    Comprar Produto
</button> -->




<div class="container">
    <div class="livro">
        <img src="assets/img/HP1.jpg" alt="Capa do Livro">
    </div>
    <div class="info-container">
        <div class="info">
            <h2>Harry Potter</h2>
            <p class="autor">J.K. Rowling <span>(Autor)</span></p>
            <p class="preco">R$ 48,99</p>
            <button class="comprar">Comprar</button>
            <br>
            <button class="comprar">Carrinho</button>
        </div>
    </div>
    <div class="descricao">
        <!-- <hr> -->
        <h3>Descrição do Livro</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <div class="caract">
        <h3>Características</h3>
        <ul>
            <li><span>Páginas</span> <span>300</span></li>
            <li><span>Idioma</span> <span>Português</span></li>
            <li><span>Ano de Lançamento</span> <span>2022</span></li>
        </ul>
    </div>
</div>